{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<h2>{{ title }}</h2>
<ul class="list-group">
  <li class="list-group-item"><strong>Nombre:</strong> {{ institution.name }}</li>
  <li class="list-group-item"><strong>Tipo:</strong> {{ institution.type }}</li>
  <li class="list-group-item"><strong>Ubicación:</strong> {{ institution.location }}</li>
  <li class="list-group-item"><strong>Contacto:</strong> {{ institution.contact }}</li>
</ul>
<a href="{{ url_for('Institutions.index') }}" class="btn btn-secondary mt-3">Volver</a>
{% endblock %}
