{% extends 'base.html' %}
{% block title %}Detalle del Catequizado{% endblock %}

{% block content %}
<h2>Detalle del Catequizado</h2>

<ul class="list-group mb-4">
    <li class="list-group-item"><strong>Nombres:</strong> {{ student.firstName }} {{ student.secondName }}</li>
    <li class="list-group-item"><strong>Apellidos:</strong> {{ student.lastName }} {{ student.secondLastName }}</li>
    <li class="list-group-item"><strong>Sexo:</strong> {{ student.sex }}</li>
    <li class="list-group-item"><strong>Fecha de nacimiento:</strong> {{ student.birthdate }}</li>
    <li class="list-group-item"><strong>Tipo de sangre:</strong> {{ student.bloodType }}</li>
    <li class="list-group-item"><strong>Alergias:</strong> {{ student.alergies }}</li>
    <li class="list-group-item"><strong>Contacto de emergencia:</strong> {{ student.emergencyContactName }} - {{ student.emergencyContactPhone }}</li>
    <li class="list-group-item"><strong>Detalles médicos:</strong> {{ student.details }}</li>
</ul>

<a href="{{ url_for('Students.index') }}" class="btn btn-secondary">Volver</a>
<a href="{{ url_for('Students.edit', id=student._id) }}" class="btn btn-warning">Editar</a>
{% endblock %}
